.main_content_line, .break_line {
    border: none;
    height: 1px;
    background-color: #333;
    margin: 1rem 0;
}

.break_line {
    width: 85%;
    height: 1px;
    background-color: #333;
    padding-left: 8%;
}


.main_content_line {
    width: 60%;
}

.main_content_subtitle {
    display: flex;
    margin-left: 0;
    align-self: flex-start;
    padding-left: 9%;
    font-size: 1.3rem;
}

.main_content_subtitle h3 {
    font-weight: 300;
}

.main_content_forms {
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
    font-size: 1rem;
}


.main_content_forms_razao_social{
    width:  32.875rem;
    height: 2rem;
}

.main_content_forms_cnpj {
    width: 16.5rem;
    height: 2rem;
}

.main_content_first_col{
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.main_content_forms_address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.main_content_forms_address input {
    height: 2rem
}


.main_content_dirigentes {
    font-size: 1.3rem;
    padding-left: 9%;
    align-self: flex-start;
}

.main_content_dirigentes h3 {
    font-weight: 300;
}

.adicionar_dirigente{
    padding-left: 5%;
    margin: 0 !important;
    align-self: flex-start;
}

.adicionar_dirigente_novo {
    color: #195DC2;
    text-decoration: underline;
    cursor: pointer;
}


.main_content_second_part {
    width: 82%;
}

.main_content_subtitle_second_part {
    font-weight: 300;
    font-size: 1.7rem;
}
